
.div-container{
  
  min-width: 200px;
  margin-left: 5px;
  .toggle-container{
        height: 190px;
        min-width: 200px;
        
    .folder-icon {
      height: 140px;
      min-width: 140px;
    }
  }
}