.dialog-modal-content{
    background-color: #252525;
    color: white;
    .dialog-modal-contexts{
       color: white;
    }
}
.dialog-modal-title{
    background-color: #252525;
    color: darkorange;
    
}
.dialog-modal-action{
    background-color: #252525;
    .color-changer{
        background-color: darkorange;
    }
}

