
.dialog-content
{
    background-color: #252525;
    
    .card-main {
        background-color: #252525;
        color: white;
        .card-content {
            background-color: #252525;
            color: darkorange;
            
        }
        .color-changer{
           
        }
       
    }  
    .test-field{
        background-color:darkorange;
    }
}
.dialog-header{
    background-color: #252525;
    color:darkorange;
}
.dialog-action{
    background-color: #252525;
}
